@import url("https://fonts.googleapis.com/css2?family=Gaegu:wght@300&display=swap");
:root {
  --shadow: rgb(95, 80, 80);
  --font-color: #fff;
  --btn-bg-color: #444;
  --bg-color: rgb(138, 131, 131);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Gaegu", cursive;
  height: 100%;
  width: 100%;
  overflow: hidden;
  color: var(--font-color);
  background-color: var(--bg-color);
  line-height: 1.7;
}

.slider-container {
  height: 100vh;
  display: inline-flex;
  overflow: hidden;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
  cursor: grab;
}

.slide {
  max-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  user-select: none;
}

.slide img {
  padding: 5px 5px;
  max-width: 80%;
  max-height: 45%;
  transition: transform 0.3s ease-in-out;
  box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 288);
  border-radius: 5px;
  margin: 50px;
  -webkit-box-reflect: below 0px
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 75%,
      rgba(255, 255, 58, 0.2) 100%
    );
}

.slide h2 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.slide h3 {
  font-size: 1.3rem;
}

.btn {
  margin-top: 30px;
  background-color: var(--bg-color);
  color: var(--font-color);
  text-decoration: none;
  padding: 1rem 1.5rem;
  box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 288);
  border-radius: 5px;
}

.btn:hover {
  transform: scale(0.95);
}

.grabbing {
  cursor: grabbing;
}

.grabbing .slide img {
  transform: scale(0.9);
  box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 288);
  transform: perspective(3500px) rotate3d(0, 1, 0, 25deg);
  filter: blur(1px);
}

p {
  padding: 10px 10px;
  align-items: center;
}

@media (min-width: 1200px) {
  .slide {
    padding: 3rem;
  }
}
